{% extends "base.html" %}
{% block div %}
<section id="main">
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-meta">
            <a href="/About/index.html" class="article-date">
                <time datetime="2017-01-15T06:22:38.000Z" itemprop="datePublished">2017-01-15</time>
            </a>
        </div>
        <div class="article-inner">
            <header class="article-header">
                <h1 class="article-title" itemprop="name">
                    About
                </h1>
            </header>
            <div class="article-entry" itemprop="articleBody">
                <blockquote>
                    <p>石孟，现处成都</p>
                    <p>哈哈哈</p>
                </blockquote>
                <hr>
                <p>哈哈哈</p>
                <p>哈哈哈</p>
            </div>

        </div>
    </article>
    {% include "_comment_add.html" %}
</section>
{% include '_aside.html' %}
{% endblock %}